<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.terrene" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Terrene</name>
    <description>
        A wellness app to help people with back pain.
    </description>
    <author email="support@terrene.com" href="http://terrene.com">
        Terrene Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
