#app_home_header {
    color: white;
    height: 155px;
    padding: 20px;
    background: rgb(98,0,238);
    background: linear-gradient(0deg, rgba(98,0,238,1) 0%, rgba(136,0,238,1) 83%); 
    /* background-image: url(../images/home/header_image.jpg); */
    background-size: 100%;
    box-shadow: 0px 0px 20px white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    border-bottom-left-radius: 60px;
}

#home_spacing {
    min-height: 200px;
}

#app_home_header_welcome {
    font-size: 1.5em;
    color: white;
}
 
#app_home_header_welcome label {
    font-weight: 1000;
    color: white;
}

#app_home_header_info_box {
    width: 100%;
    margin-top: 20px;
}

#client_icon {
    background-image: url("../images/home/user_icon_john.jpg");
    background-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}

#client_info {
    color: white !important;
    height: 100px;
    position: fixed;
    left: 130px;
}

#client_level_bar
{
    position: fixed;
    margin-top: 55px;
    margin-left: 10px;
}